<!DOCTYPE html>
<html lang="en" class="h-full antialiased js-focus-visible">
  <head>
    <meta charset="utf-8" />
    <title>Iana website</title>
    <link rel="stylesheet" href="{{ get_url(path="styles/style.css") }}">
  </head>
  <header>
    <nav class=" pt-10 pb-28 px-10 flex justify-between">

      <!-- Container 1 -->
      <div class="flex items-center space-x-4">
          <span class="text-blue-950">Container 1</span>
      </div>
  
      <!-- Container 2 -->
      <div class="flex items-center space-x-4">
          <span class="text-blue-950">Container 2</span>
      </div>
  
      <!-- Container 3 -->
      <div class="flex items-center space-x-4">
          <span class="text-blue-950">Container 3</span>
      </div>
  
  </nav>
  

  </header>
  <body class="">
    <!-- Contains the main content -->
    <main>
      <!-- Container for all the main content-->
      <div class="">
        <!-- All content will go inside the the block content -->
        <div class="h-60" >
          {% block content %} {% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>
